@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap");
/*Variables*/
/*Placeholder classes*/
main .form-box, main, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

main .form-box label {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*Global Styles*/
body {
  font-family: "Rubik", sans-serif;
  color: white;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("/images/blue-bkgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding-top: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
header p, header a {
  display: inline;
  font-size: 22px;
}

main {
  align-self: center;
  margin-top: 100px;
  padding: 25px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
main .form-box {
  text-align: center;
  margin: 20px;
  padding: 15px 20px 15px 20px;
}
main .form-box input {
  display: block;
  margin: 15px 75px 20px 75px;
  height: 50px;
  padding-left: 10px;
}
